$desktop: new-breakpoint(min-width 769px 4);

@include media($desktop) {

  .header {
    .desktop-logo {
      @include span-columns(4 of 12);
      display: block;
      margin: 0;
      font-size: 28px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      color: #8B9CA4;
      &:hover {
          color: #B7B4B3;
      }
    }
    .logo {
      display: none;
    }
    .nav {
      .links {
        @include span-columns(1.5 of 9);
        float: right;
      }
    }
  }

.hero {
  background-position: top;
  height: 550px;
  &::before {
    height: 550px;
  }
}

.estimates {
  background-position: top;
  .estimates-title {
    margin: 0;
  }
}

.estimate-form{
  @include span-columns(6 of 12);
  @include shift(3);
}
.estimate-info {
  @include span-columns(6 of 6);
}

.about {
  // margin-bottom: 100px;

  .about-names {
    margin-bottom: 30px;
  }
  .family-img {
    @include span-columns(6 of 12);
    height: 350px;
    background-position: top;
    &::before{
      @include span-columns(6 of 12);
      height: 350px;
    }
  }
  .about-info{
    @include span-columns(6 of 12);
    text-align: left;
  }
}

  .footer {
    .contact-bar {
      @include span-columns(6 of 12);
      text-align: left;
    }
    .legal-bar {
      @include span-columns(6 of 12);
      line-height: 40px;
      text-align: right;
      .freddyroberts {
        margin-right: 25px;
      }
    }
  }
}
